# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=local:local-louiseannebechayda-appdev2_final_exam # team: louiseannebechayda, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=http://127.0.0.1:3210

EXPO_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

CONVEX_URL=https://local-louiseannebechayda-appdev2_final_exam.convex.cloud